Debug
Debug64
Release
Release64
GeneratedFiles
.vs
*.opensdf
*.sdf
*.suo
*.user
build*
Thumbs.db

# bundled thirdparty libraries
/thirdparty/lzo
/thirdparty/tiff-4.0.3
/thirdparty/LibJPEG/jpeg-9
/thirdparty/Lz4/Lz4_131
/thirdparty/libusb/libusb-1.0.9
/thirdparty/glew/glew-1.9.0
lzo-2.09

.clang_complete
Debug/
Debug Library/
Release/
Release Library/
ipch/
.idea

# qtcreator files
*.config
*.creator
*.files
*.includes
