/* -----------------------------------------------------------------------------
   Component: Icons
----------------------------------------------------------------------------- */

// Lock
// -----------------------------------------------------------------------------

.icon-lock() {
  border: @toolbutton-border-size solid @toolbutton-border-color;
  height: 18;
  padding: 0;
  width: 18;
  &:unchecked {
    image: url('@{img-url}/lock_off.svg');
  }
  &:checked {
    background-color: @toolbutton-lock-bg-color-checked;
    border-color: @toolbutton-lock-border-color-checked;
    image: url('@{img-url}/lock_on.svg');
    &:hover {
      background-color: @toolbutton-lock-bg-color-checked-hover;
      border-color: @toolbutton-lock-border-color-checked-hover;
    }
  }
}

// Force Square Pixel
// -----------------------------------------------------------------------------

.icon-fsp() {
  height: 16;
  border: @toolbutton-border-size solid @toolbutton-border-color;
  image: url('@{img-url}/fsp_unchecked.svg');
  padding: 2;
  width: 16;
  &:checked {
    image: url('@{img-url}/fsp_checked.svg');
  }
}
