[Desktop Entry]
Type=Application
Name=Tahoma2D
Icon=org.tahoma2d.Tahoma2D
Exec=tahoma2d
Categories=Graphics;
Terminal=false

Comment=2d Digital Animation and Stop Motion (Webcam/DSLR)
Comment[de]=2d Digitale Animation und Stop Motion (Webcam/DSLR)
Comment[es]=Animación 2d Digital y Stop Motion (Webcam/DSLR)
Comment[gl]=2d Animación dixital e Stop Motion (Webcam/DSLR)
Comment[fr]=Animation numérique 2D et Stop Motion (Webcam/DSLR)
Comment[pt]=Animação Digital 2d e Stop Motion (Webcam/DSLR)
Comment[it]=Animazione digitale 2d e stop motion (Webcam/DSLR)
Comment[ru]=2d цифровая анимация и покадровая анимация (Webcam/DSLR)

Keywords=Dragonframe;Toon Boom;Harmony;TV Paint;
