/* -----------------------------------------------------------------------------
   Schematic Node Viewer
----------------------------------------------------------------------------- */

#SchematicBottomFrame {
  background-color: @bg;
  border: 0;
  margin: 0;
  padding: 0;
  & QToolBar {
    &::separator:horizontal {
      margin: 0;
    }
    & QToolButton {
      &:extend(.button-tool all);
      padding: 0;
      margin: 2;
    }
  }
}

#SchematicSceneViewer {
  background-color: @schematic-viewer-bg-color;
  border-bottom: 1 solid @accent;
}

/* -----------------------------------------------------------------------------
   FX Settings
----------------------------------------------------------------------------- */

#FxSettingsTabBar {
  &::tab {
    &:extend(.tab-flat all);
    border-top: 1 solid @accent;
    &::first,
    &::only-one {
      border-left: 1 solid @accent;
    }
  }
}

FxSettings {
  & QToolBar {
    border-top: 1 solid @accent;
    border-right: 1 solid @accent;
    border-left: 1 solid @accent;
    min-height: 23; // prevent shrinking
    padding: 3 0;
    & QToolBar {
      border: 0;
    }
  }
}

#FxSettingsLabel {
  color: @schematic-label-text-color;
}

#FxSettingsHelpButton {
  background-color: @schematic-help-button-bg-color;
  color: #000;
  // remove vertical padding
  // otherwise text gets clipped
  padding-top: 0;
  padding-bottom: 0;
  &:hover {
    background-color: @schematic-help-button-bg-color-hover;
  }
}

#FxSettingsPreviewShowButton {
  &:extend(.button-show all);
}
